<?xml version="1.0"?>
<RedisConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <WriteServerList>6379@120.132.94.138:6379</WriteServerList>
  <ReadServerList>120.132.94.138:6379</ReadServerList>
  <MaxWritePoolSize>100</MaxWritePoolSize>
  <MaxReadPoolSize>100</MaxReadPoolSize>
  <AutoStart>true</AutoStart>
  <LocalCacheTime>30000</LocalCacheTime>
  <RecordeLog>false</RecordeLog>
  <CompressesFlag>true</CompressesFlag>
</RedisConfigInfo>